<div class="contianer">
     <div class="row col-10 mx-auto">
          <div class="colHolder col-4">
               <div class="filterHolder"><p>Filter:</p>
               <h1>Avaialble Players</h1>
               </div>
               <div class="avPlayerScroller">
                    {{#each players }}
                         <div class="playerHolder">   
                               <div class='deets'>
                                    {{#if draftedBy}}<img src="../public/assets/images/af.png"/>{{/if}}
                                   <span class="playerName">{{name}}</span>
                                   <span>{{position}}</span>
                               </div>                          
                              <span class="rating" style="color:rgb(34, 141, 202) !important;">{{prating}}</span>
                         </div>
                    {{/each}}
               </div>
          </div>
          <div class="colHolder col-4">Team on the clock
               <button class="btnReset">Reset All</button>
          </div>
          <div class="colHolder col-4">Drafted Players</div>
     </div>
</div>
<script src='https://code.jquery.com/jquery-3.3.1.min.js'
          integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous'></script>
     
<script src="../public/assets/scripts/draftboard.js"></script>