<div class="contianer">
     <div class="row col-10 mx-auto">
          <div class="colHolder col-4">Avaialble Players</div>
          <div class="colHolder col-4">Team on the clock</div>
          <div class="colHolder col-4">Drafted Players</div>
     </div>
</div>