.nav-item{font-size: 1.4em}
.colHolder{
     padding:12px;
     height: calc(100vh - 120px);
}
body, html{
     height: 100vh !important;
}
.avPlayerScroller{
     height:calc(100% - 100px);
     position: relative;
     overflow-y: auto;
     padding:12px;
     border:1px solid #bababa;
}

.filterHolder{   
     background: white;

}
.playerHolder, .curSelection, .draftedHolder{
     border:1px solid #ccc;
     padding:12px;
     position: relative;
     display: flex;
     justify-content: space-between;
     margin-bottom:12px;
}
.curSelection{
     height:80px
}
.playerHolder:hover{
     cursor:pointer;
     background: #ccc
}
.draftedHolder img{
     height:60px;
}
.deets{
     display: flex;  
     justify-content: start;
}
.pos{
     margin-right:12px;
}
.playerName{
     margin-right:12px;
     font-weight: bold;
}
.rating{
     position: relative;
     right:0px;
     width:60px;
     height: 60px;
     border:solid rgb(34, 141, 202) 1px;
     background: white;
     text-align: center;
     line-height: 48px;
     font-size: 36px;
     font-weight: bold;
}
.selected{
     background: #ccc
}
.picker{
     border: 2px solid red;
     background: url(../images/pointer.png), url(../images/pointerRt.png);
     background-repeat: no-repeat, no-repeat;
     background-position: 0px 50%, 100% 50%;
     cursor:pointer;
}
